@font-face {
    font-family: 'TanNimbus';
    src: url('fonts/TAN-NIMBUS.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    background-color: #FFC0CB; /* Baby pink background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  h1 {
    font-family: 'TanNimbus', sans-serif;
    font-size: 80px;
    color: black;
  }  